{% extends 'base.html' %}

{% block body %}
<div class="ui grid">
    <div class="row">
        <div class="four wide column">
            <div class="ui card">
                <div class="image">
                     <img src="{{job.image_path}}">
                </div>
                <div class="content">
                    <a class="header member-head-font">{{member.name}}</a>
                    <div class="meta">
                    <span class="date">{{member.description}}</span>
                    </div>
                    <div class="description">
                        <p><b>Granblue Id: </b>{{member.gb_id}}<p>
                        <p><b>Granblue Name: </b>{{member.gb_name}}<p>
                        <p><b>Character: </b>{{member.gb_gender|title}}<p>
                        <p><b>Class: </b>{{member.gb_class}}<p>
                        <p><b>Facebook: </b><a href="{{member.facebook}}" target="_blank">link</a><p>
                        <p><b>Twitter: </b><a href="{{member.twitter}}" target="_blank">link</a><p>
                        <p><b>Discord: </b><a href="{{member.discord}}" target="_blank">link</a></p>
                    </div>
                </div>
                <div class="extra content">
                        <a>
                        <i class="heart icon waifu-color"></i>
                            <span class="waifu-color">Waifu:  {{member.gb_waifu}}</span>
                        </a>
                </div>
                <div class="extra content">
                        <p class="weak-dmg-color"><b>Main Damage: </b>{{power.estimate_dmg}}</p>
                        <p class="weak-dmg-color"><b>Weak damage: </b>{{power.weak_dmg}}</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui top attached tabular menu">
                <a class="item" data-tab="light">Light</a>
                <a class="item" data-tab="dark">Dark</a>
                <a class="item" data-tab="wind">Wind</a>
                <a class="item" data-tab="fire">Fire</a>
                <a class="item" data-tab="water">Water</a>
                <a class="item" data-tab="earth">Earth</a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="light">
                <div class="ui row">
                <div class="ui equal width grid">
                    <div class="column fluid">
                        <div class="ui card item-box">
                            <a class="image" href="#">
                                <img src="{{summon.image_path}}">
                                <div class="ui star rating box-star" data-rating="0"></div>
                            </a>
                            <div class="content">
                                <h4 class="in-box-margin">{{summon.name}}</h4>
                            </div>
                        </div>
                        <div class="ui card item-box">
                            <a class="image" href="#">
                                <img src="{{weapon.image_path}}">
                                <div class="ui star rating box-star" data-rating="0"></div>
                            </a>
                            <div class="content">
                                <h4 class="weapon_img">{{weapon.name}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui card item-box">
                            <a class="image" href="#">
                                <img src="{{weapon2.image_path}}">
                                <div class="ui star rating box-star" data-rating="0"></div>
                            </a>
                            <div class="content">
                                <h4 class="in-box-margin">{{weapon2.name}}</h4>
                            </div>
                        </div>
                        <div class="ui card item-box">
                            <a class="image" href="#">
                                <img src="{{weapon2.image_path}}">
                                <div class="ui star rating box-star" data-rating="0"></div>
                            </a>
                            <div class="content">
                                <h4 class="in-box-margin">{{weapon2.name}}</h4>
                            </div>
                        </div>
                        <div class="ui card item-box">
                            <a class="image" href="#">
                                <img src="{{weapon2.image_path}}">
                                <div class="ui star rating box-star" data-rating="0"></div>
                            </a>
                            <div class="content">
                                <h4 class="in-box-margin">{{weapon2.name}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui card item-box">
                            <a class="image" href="#">
                                <img src="{{weapon2.image_path}}" data-image='16'>
                                <div class="ui star rating box-star" data-rating="0"></div>
                            </a>
                            <div class="content">
                                <h4 class="in-box-margin">{{weapon2.name}}</h4>
                            </div>
                        </div>
                        <div class="ui card item-box">
                            <a class="image" href="#">
                                <img src="{{weapon2.image_path}}">
                                <div class="ui star rating box-star" data-rating="0"></div>
                            </a>
                            <div class="content">
                                <h4 class="in-box-margin">{{weapon2.name}}</h4>
                            </div>
                        </div>
                        <div class="ui card item-box">
                            <a class="image" href="#">
                                <img src="{{weapon2.image_path}}">
                                <div class="ui star rating box-star" data-rating="0"></div>
                            </a>
                            <div class="content">
                                <h4 class="in-box-margin">{{weapon2.name}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui card item-box">
                            <a class="image" href="#">
                                <img src="{{weapon2.image_path}}">
                                <div class="ui star rating box-star" data-rating="0"></div>
                            </a>
                            <div class="content">
                                <h4 class="in-box-margin">{{weapon2.name}}</h4>
                            </div>
                        </div>
                        <div class="ui card item-box">
                            <a class="image" href="#">
                                <img src="{{weapon2.image_path}}">
                                <div class="ui star rating box-star" data-rating="0"></div>
                            </a>
                            <div class="content">
                                <h4 class="in-box-margin">{{weapon2.name}}</h4>
                            </div>
                        </div>
                        <div class="ui card item-box">
                            <a class="image" href="#">
                                <img src="{{weapon3.image_path}}">
                                <div class="ui star rating box-star" data-rating="0"></div>
                            </a>
                            <div class="content">
                                <h4 class="in-box-margin">{{weapon3.name}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="dark">
                Dark
            </div>
            <div class="ui bottom attached tab segment" data-tab="wind">
                Dark
            </div>
            <div class="ui bottom attached tab segment" data-tab="fire">
                Dark
            </div>
            <div class="ui bottom attached tab segment" data-tab="water">
                Dark
            </div>
            <div class="ui bottom attached tab segment" data-tab="earth">
                Dark
            </div>

        </div>
    </div>
</div>

{% include "scripts/menutab.html" %}
{% endblock %}




