{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SSRDropout</title>
        <link href="{% static 'Semantic-master/semantic.css' %}" rel="stylesheet">
        <link href="{% static 'custom.css' %}" rel="stylesheet">
    </head>
    <body style="background-image: url({% static '/images/background.jpg' %}); background-position: top">
        <div class="ui main container" style="background-image: url({% static '/images/background-in.jpg' %}); min-height: 100%; ">
                <div class="ui grid relaxed container" style="margin-top: 1%">
                    <div class="four wide column">
                        <img width=100%" src="{% static 'images/logo.png' %}" style="margin-left: 5%">
                    </div>
                    <div class="six wide column fluid" style="margin-top: 0.5%">
                        <div class="ui stackable menu" style="text-align: center">
                            <a class="item" style="width: 25%;">Guild</a>
                            <a class="item" style="width: 25%;">Member</a>
                            <a class="item" style="width: 25%;">Guildwar</a>
                            <a class="item" style="width: 25%;">Extra</a>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
            <div class="ui grid">
                <div class="one wide column"></div>
                <div class="thirteen wide column">
                    <h1 class="ui header">{% block headline %} {% endblock %}</h1>
            {% block body %} {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

<script>
$(“.ui.menu a.item”).on(“click”, function() {
     $(this)
       .addClass(“active”)
       .siblings()
       .removeClass(“active”);
   });
</script>
